@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');
*{
    font-family: 'Inria Sans', sans-serif;
}

h2{
    color:#005a8a;
    animation-name: fadeInIntroImages;
    animation-duration: 2s;
}

.btn.btn-primary{
    background-color:#005a8a!important;
    border:none;
}

h1{
    color:#FFF;
    text-shadow: 2px 2px 4px #000000;
    animation-name: fadeInIntroImages;
    animation-duration: 2s;
}

#introImages{
    width:25%;
    height:50%;
    border-top: 3px solid #FFF;
    animation-name: fadeInIntroImages;
    animation-duration: 5s;
}

#cardFlip{
    animation-name:flipper;
    animation-duration: 2s;
}

@keyframes flipper{
    from{
        transform:rotateX(90deg);
    }
    to{
        transform:rotateX(0deg);
    }
}

@keyframes fadeInIntroImages{
    from{
        opacity: 0%;
    }
    to{
        opacity:100%;
    }
}